"*":
  core:
    disabledPackages: [
      "prettier-atom"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 13
    tabLength: 4
  "exception-reporting":
    userId: "ac071133-fb7e-43c5-9bfd-495da6aa9950"
  "fuzzy-finder":
    ignoredNames: [
      "**/node_modules/*"
    ]
  "linter-ui-default": {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierEslintOptions:
      prettierLast: true
    prettierOptions:
      singleQuote: true
      trailingComma: "es5"
  "tree-view": {}
  welcome:
    showOnStartup: false

# Check if these are required
# "*":
#   "atom-tag-wrapper":
#     tag: "div"
#   "autocomplete-plus":
#     confirmCompletion: "tab"
#     minimumWordLength: 2
#   "atom-beautify":
#     css:
#       indent_size: 2
#       preserve_newlines: true
#     general:
#       analytics: false
#     html:
#       disabled: true
#       indent_size: 2
#     js:
#       indent_size: 2
#     jsx:
#       indent_size: 2
#     scss:
#       indent_size: 2
#     svg:
#       indent_size: 2
#     xml:
#       indent_size: 2
